<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.cncoderx.github">

    <!-- <uses-sdk -->
    <!-- android:minSdkVersion="16" -->
    <!-- android:targetSdkVersion="19"  tools:overrideLibrary="org.xwalk.core"/> -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" android:maxSdkVersion="22"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS" android:maxSdkVersion="22"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"
                     android:maxSdkVersion="22"/>

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".ui.activity.LoginActivity"
                  android:label="@string/login">
        </activity>
        <activity android:name=".ui.activity.SearchActivity"
                  android:windowSoftInputMode="stateHidden|stateUnchanged"
                  android:label="@string/search">
        </activity>
        <activity android:name=".ui.activity.RepoDetailActivity"
                  android:label="@string/repositories">
        </activity>
        <activity android:name=".ui.activity.CodeContentActivity"
                  android:label="">
        </activity>
        <activity android:name=".ui.activity.IssueCommentActivity"
                  android:label="@string/issues">
        </activity>
        <activity android:name=".ui.activity.PullCommentActivity"
                  android:label="@string/pull_requests">
        </activity>
        <activity android:name=".ui.activity.ProfileActivity"
                  android:label=""
                  android:launchMode="singleTask">
        </activity>
        <activity android:name=".ui.activity.OrganizationActivity"
                  android:label=""
                  android:launchMode="singleTask">
        </activity>
        <activity android:name=".ui.activity.FollowerListActivity"
                  android:label="@string/followers">
        </activity>
        <activity android:name=".ui.activity.FollowingListActivity"
                  android:label="@string/following">
        </activity>
        <activity android:name=".ui.activity.GistActivity"
                  android:label="@string/gists">
        </activity>
        <activity android:name=".ui.activity.GistCommentActivity"
                  android:label="@string/comments">
        </activity>
        <activity android:name=".ui.activity.SettingActivity"
                  android:label="@string/settings">
        </activity>

        <service android:name=".service.AccountAuthenticatorService"
                 android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
    </application>

</manifest>